<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    {% block style %}

    {% endblock %}

    <title>
        {% block title %}

        {% endblock %} | Flask app
    </title>
</head>
<body>
    <div class="title">
        <div>
            <h1>
                {% block content_title %}

                {% endblock %}
            </h1>
        </div>
    </div>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>