{% extends 'base.html' %}

{% block title %} Search results {% endblock -%}

{% block content_title %} Найдено с навыком {{ skill }}: {{ candidates | length }} {% endblock -%}

{% block content -%}
    <div class="search_by_skill_content">
        {% for candidate in candidates -%}
        <div class="candidates_lst">
            <p class="candidate_number">№ {{ loop.index }}</p>
                <p class="candidate_info">
                    <a href="{{ url_for('candidate_profile', uid=candidate.id) }}">{{ candidate.name }}</a>
                </p>
        </div>
        {% endfor -%}
    </div>
{% endblock -%}
